xPatCWM4U0/studentCWM4U0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="class" type="classType"/>
  <xs:complexType name="studentType">
    <xs:sequence>
      <xs:element type="xs:string" name="keresztnev"/>
      <xs:element type="xs:string" name="vezeteknev"/>
      <xs:element type="xs:string" name="becenev"/>
      <xs:element type="xs:string" name="kor"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="classType">
    <xs:sequence>
      <xs:element type="studentType" name="student" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>